*{
  margin: 0;
}

#calendarTable{
  border: 3px solid black;
  border-collapse:collapse;
  width: 100%;
}

#calendarTable td, th{
 border: 1px solid black;
  width: auto;
  height:40px;
}

#calendarTable td:hover{
  background-color: rgb(200,200,200);
}

#calendarTable .schedule{
  /* display: none; */
  visibility: hidden;
}

#calendarTable th.sun, td.sun{
  color: red;
}
#calendarTable th.sat, td.sat{
  color: blue;
}

#calendarTable td.disabled{
  color: rgb(130,150,150);
  background-color: rgb(220,220,230);
}

#toYear{
  width: 60px;
}

#toDate input{
  width: 30px;
}
