* {
  margin: 0;
}
#mainTitle {
  text-align: center;
}

#allCalendar {
  float: left;
  width: 750px;
  height: 700px;
}

#subCalendar {
  margin: 20px;
  padding: 20px;
  float: left;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 400px;
}
#calendarTable {
  table-layout: fixed;
  border: 3px solid black;
  border-collapse: collapse;
  width: 100%;
}

#calendarTable td,
th {
  border: 1px solid black;
  width: auto;
  height: 40px;
}

#calendarTable td:hover {
  background-color: rgb(200, 200, 200);
}

#calendarTable .schedule {
  /* display: none; */
  font-size: 0.8rem;
  visibility: hidden;
  padding-left: 23px;
}

#calendarTable.schedule ul li {
  width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#calendarTable th.sun,
td.sun {
  background-color: rgba(255, 0, 0, 0.2);
}
#calendarTable th.sat,
td.sat {
  background-color: rgba(75, 137, 220, 0.2);
}

#calendarTable td.disabled {
  color: rgb(130, 150, 150);
  background-color: rgb(220, 220, 230);
}

#toYear {
  width: 60px;
}

#toDate input {
  width: 30px;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}
